/rnode/{{host}}/{{web_port}}/vnc.html?autoconnect=true&password={{#view_only}}{{spassword}}{{/view_only}}{{^view_only}}{{password}}{{/view_only}}&path=rnode/{{host}}/{{web_port}}/websockify&resize=remote
